# 1. What exactly is []?

# ANSWER

In [1]:
#IT IS AN EMPTY LIST FOR EXAMPLE
m = []
for i in range(10):
    if i % 2 == 0:
        m.append(i)
    else:
        continue

In [2]:
m

[0, 2, 4, 6, 8]

# 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

# ANSWER

In [3]:
spam = [2,4,6,8,10]
spam[2] = "hello"
spam[2]

'hello'

# 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

# ANSWER

In [4]:
spam = ['a','b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

In [5]:
spam[3] # it will

'd'

# 4. What is the value of spam[-1]?

# ANSWER

In [6]:
spam[-1] # i will show the specified position

'd'

# 5. What is the value of spam[:2]?

# ANSWER

In [7]:
spam[:2]

['a', 'b']

In [8]:
#by default if we use [:2] it will take its as [0:2]

# 6. What is the value of bacon.index(&#39;cat&#39;)?

# ANSWER

In [9]:
bacon = [3.14, 'cat',11, 'cat', 'True']

In [10]:
bacon.index("cat")#it will show the position of the value in the list

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

# ANSWER

In [11]:
bacon.append(99)

In [12]:
bacon #it changes by adding the value at the of the list

[3.14, 'cat', 11, 'cat', 'True', 99]

# 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

# ANSWER

In [13]:
bacon.remove("cat")

In [14]:
bacon

[3.14, 11, 'cat', 'True', 99]

In [15]:
#it will remove the cat in which is first in the list for example
hello = [1,2,1,3]
hello.remove(1)
hello

[2, 1, 3]

# 9, What are the list concatenation and list replication operators?

# ANSWER

In [16]:
#CONTATENATION
A = [1,2,3,4]
B = [5,6,7,8]
concatenated_list = A+B
concatenated_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
#REPLICATION
A = [1,2,3,4]
B = [5,6,7,8]
replicated_list = A * 2
replicated_list

[1, 2, 3, 4, 1, 2, 3, 4]

# 10. What is difference between the list methods append() and insert()?

# ANSWER

In [18]:
# append will add the value at the last of the list
a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [19]:
# insert will insert the value anywhere in the list
b = [1,2,4,5]
b.insert(2,3)
b

[1, 2, 3, 4, 5]

# 11. What are the two methods for removing items from a list?

# ANSWER

In [20]:
a = ["hello","how","are","you"]
b = ["hello","how","are","you"]
#remove method
a.remove("hello")
#pop method
b.pop(1)
print(a,b)

['how', 'are', 'you'] ['hello', 'are', 'you']

# 12. Describe how list values and string values are identical.

# ANSWER

In [21]:
# for example
lis = [1,2,3,4,5,6,7,8,9,10]
stri = ["aerospace","plane","car"]
print(lis[5],stri[1])

6 plane

In [22]:
a = [1,2,3]
b = "hel"

print(a[1],b[1])

2 e

# 13. What&#39;s the difference between tuples and lists?

# ANSWER

In [23]:
# list are muttable
a = [1,2,3]
a.append(5)
a

[1, 2, 3, 5]

In [24]:
# tuples are immuttable
a = (1,2,3)
a.append(5)
a

AttributeError: 'tuple' object has no attribute 'append'

# 14. How do you type a tuple value that only contains the integer 42?

# ANSWER

In [25]:
not_a_tuples=(45) #now it consider the values as a single integer so we cannot assign a tuple like this

tuples=(45,) #now it will be a proper tuples

print(type(not_a_tuples))

<class 'int'>

In [26]:
print(type(tuples))

<class 'tuple'>

# 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

# ANSWER

In [27]:
#tuples
my_list = [1,2,3,4,5,6,7,8,9,0,10]
tuple(my_list)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10)

In [28]:
my_list = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10)
list(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]

# 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

# ANSWER

In [29]:
my_list = [1,2,3]
my_new = my_list

my_list.append(5)
print(my_list,my_new)
#so my old list will also change if change my new list

[1, 2, 3, 5] [1, 2, 3, 5]

In [30]:
my_list = [1,2,3,4]
my_new = my_list.copy()
my_list.append(10)
print(my_list,my_new)
#so it is not changing

[1, 2, 3, 4, 10] [1, 2, 3, 4]

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

# ANSWER

In [31]:
import copy
my_list= [1,2,[2,3]]
new = copy.copy(my_list)

new[2][0] = 8
new[2][1] = 9
print(my_list)
print(new)
#new list and old list look same inside nested list

[1, 2, [8, 9]]
[1, 2, [8, 9]]

In [32]:
my_list= [1,2,[2,3]]
new = copy.deepcopy(my_list)

new[2][0] = 8
new[2][1] = 9
print(my_list)
print(new)
#new list and old list look different inside nested list
#only new list got updated

[1, 2, [2, 3]]
[1, 2, [8, 9]]