# 1.What are the two values of the Boolean data type? How do you write them?

# ANSWER

In [1]:
#TRUE  AND  FALSE

EXAMPLE = 10 < 2
EXAMPLE

False

In [2]:
EXAMPLE = 2 > 1
EXAMPLE

True

# 2. What are the three different types of Boolean operators?

# ANSWER

In [3]:
# AND = BOTH MUST BE TRUE
# OR = IF ANY ONE IS TRUE
# NOT = THE MUST BE FALSE

In [4]:
for i in range(6):
    if i % 2 == 0 and i < 5:
        print("its an example of and operator = ", i )
        print('_________')
    elif i%2 == 0 or i < 5:
        print("its an example of or operator  = ", i )
        print('_________')
    elif not i%2 ==0:
        print("its an example of not operator  = ", i )
        print('_________')
    else:
        continue

its an example of and operator =  0
_________
its an example of or operator  =  1
_________
its an example of and operator =  2
_________
its an example of or operator  =  3
_________
its an example of and operator =  4
_________
its an example of not operator  =  5
_________

# 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

# ANSWER

In [5]:
# AND OPERATOR
print("""true + true = true
true + false = false
false + true = false
false + false = false""")

true + true = true
true + false = false
false + true = false
false + false = false

In [6]:
# OR OPERATOR
print("""true + true = true
false + true = true
true + false = true
false +false = false""")

true + true = true
false + true = true
true + false = true
false +false = false

In [7]:
# NOT OPERATOR
print("""true = false
false = true""")

true = false
false = true

In [8]:
for i in range(6):
    if i % 2 == 0 and i < 5:
        print("its an example of and operator = ", i )
        print('_________')
    elif i%2 == 0 or i < 5:
        print("its an example of or operator  = ", i )
        print('_________')
    elif not i%2 ==0:
        print("its an example of not operator  = ", i )
        print('_________')
    else:
        continue

its an example of and operator =  0
_________
its an example of or operator  =  1
_________
its an example of and operator =  2
_________
its an example of or operator  =  3
_________
its an example of and operator =  4
_________
its an example of not operator  =  5
_________

# 4. What are the values of the following expressions? (5 >4) and (3 == 5) not (5 > 4) (5 > 4) or (3 == 5) not ((5 > 4) or (3 == 5))(True and True) and (True == False) (not False) or (not True)

# ANSWER

In [9]:
5>4 and 3==5

False

In [10]:
not 5 > 4

False

In [11]:
(5 > 4) or (3 == 5)

True

In [12]:
not ((5 > 4) or (3 == 5))

False

In [13]:
(True and True) and (True == False)

False

In [14]:
(not False) or (not True)

True

# 5. What are the six comparison operators?

# ANSWER

In [28]:
for i in range(10):
    if i == 0:
        print(i,"equal to")
    elif i < 2:
        print(i,"less than")
    elif i > 7 and i < 8:
        print(i ,"greater than")
    elif i <= 2:
        print(i,"less than or equal to")
    elif i >= 9:
        print(i ,"greater than or equal to")
    elif i != 5:
        print("not equal to")
    else:
        continue

0 equal to
1 less than
2 less than or equal to
not equal to
not equal to
not equal to
not equal to
not equal to
9 greater than or equal to

In [30]:
1 > 0  # greater thaan

True

# 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

# ANSWER

In [32]:
x = 1
x == 2

False

In [33]:
x = 1
x = 2
print(x)

2

In [34]:
a = ['micheal jackson','ar rahman','hirthick roshan']
b = ['dancer','singer','actor']
x = 0
for i in range(len(a)):
    if i == x:                            #used here
        print(a[i], " is a ",b[i])
        x += 1
    else:
        continue

micheal jackson  is a  dancer
ar rahman  is a  singer
hirthick roshan  is a  actor

# 7. Identify the three blocks in this code: spam = 0 if spam      ==  10: print('eggs') if spam > 5: print(bacon) else: print(ham) print(spam) print(spam)

# ANSWER

In [35]:
spam = 0
if spam ==10:
    print("eggs")
elif spam > 5:
    print("bacon")
else:
    print("ham")
    print("spam")
    print("spam")

ham
spam
spam

# 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and printsGreetings! if anything else is stored in spam.

# ANSWER

In [42]:
spam = [1,2,3]
for i in spam:
    if i == 1:
        print("hello")
    elif i == 2:
        print("howdy")
    else:
        print("welcome")

hello
howdy
welcome

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

# ANSWER

In [43]:
#CTRL + C = STOP EXECUTION AND TERMINATE

# 10. How can you tell the difference between break and continue?

# ANSWER

In [46]:
for i in range(10):
    if i <= 3:
        print(i,"continue")
        continue
    elif i >= 4:
        print(i,"break")
        break

0 continue
1 continue
2 continue
3 continue
4 break

In [47]:
#break will completely break the statement and the stop executing the concerned code
#continue jump to next iteration

# 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

# ANSWER

In [50]:
for i in range(10):
    print(i*" $ ")
for i in range(0,10):
    print(i*" $ ")
for i in range(0,10,1):
    print(i*" $ ")

 $
 $  $
 $  $  $
 $  $  $  $
 $  $  $  $  $
 $  $  $  $  $  $
 $  $  $  $  $  $  $
 $  $  $  $  $  $  $  $
 $  $  $  $  $  $  $  $  $

 $
 $  $
 $  $  $
 $  $  $  $
 $  $  $  $  $
 $  $  $  $  $  $
 $  $  $  $  $  $  $
 $  $  $  $  $  $  $  $
 $  $  $  $  $  $  $  $  $

 $
 $  $
 $  $  $
 $  $  $  $
 $  $  $  $  $
 $  $  $  $  $  $
 $  $  $  $  $  $  $
 $  $  $  $  $  $  $  $
 $  $  $  $  $  $  $  $  $

In [51]:
#there is no difference between all the three because they have same meaning with slight change there can be a difference
#example:
#range(10) == range(0,10) == range(0,10,1)

#example if difference is there:
#range(10) != range(1,10) != range(0,10,-1)

# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

# ANSWER

In [53]:
for i in range(1,11):
    print(i , end = '')

12345678910

In [55]:
i = 1
while i <=10:
    print(i,end="")
    i += 1

12345678910

# 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

# ANSWER

In [57]:
# two ways 

#hard way

#import spam
#spam.bacon()

#easy way

#from spam import bacon
#bacon()

In [59]:
#example
import math
math.sqrt(177)

13.30413469565007

In [60]:
from math import sqrt
sqrt(177)

13.30413469565007

# THANK YOU